<header class="main-header">
  <a href="#" class="logo">
    <span class="logo-mini">
      <b>CR</b>
      A
    </span>
    <span class="logo-lg">
      <b>CAR</b>
      VILLA
    </span>
  </a>
  <nav class="navbar navbar-static top">
    <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
      <span class="sr-only">Toggle navigation</span>
    </a>

    <div class="navbar-custom-menu">
      <ul class="nav navbar-nav">
        <li class="dropdown user user-menu">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
            <%= image_tag("Circle-Solid-Profile-512.png", class: "user-image", alt: "User image") %>
            <span class="hidden-xs">Sager Mantoo</span>
          </a>
          <ul class="dropdown-menu">
            <li class="user-header">
              <%= image_tag("Circle-Solid-Profile-512.png", class: "img-circle", alt: "User image") %>
              <p>Sager mantoo</p>
            </li>
            <li class="user-footer">
              <div class="pull-right">
                <a href="#" class="btn btn-danger">Sign out</a>
              </div>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>
</header>
